
.background{
  background-color: #f7f7ff;
opacity: 1;
background-image:  linear-gradient(#4852ff 0.5px, transparent 0.5px), linear-gradient(to right, #4852ff 0.5px, #f7f7ff 0.5px);
background-size: 10px 10px;
height:100vh;
display: inline-block;
}
.card{
  border:2px,solid, #4852ff ;
  display:inline-block;
}